body{
  background-color: #f4f6f6;
  background-image: url('./assets/images/landingPage2.png') ;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: right;
}

body::-webkit-scrollbar{
  position: absolute;
  right: 0;
  width: 12px;
    -webkit-appearance: none;
}
body::-webkit-scrollbar-track{
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  /* background-color: rgba(32, 209, 59, 0.888); */
  background-color: #b86401;
  border: 1px solid #fff;
  border-radius: 1rem;
}

.header-nav{
  transition: all 0.1s;
}

button,Link{
  box-shadow: 2px 2px 20px 4px #a09d94;
}


.header-nav:active{
  border-bottom: solid #8f7d47;
}

.header-nav:hover{
    border-bottom: solid #8f7d47;
}

.btn-main{
  transition: all 0.5s;
  box-shadow: 2px 2px 20px 4px #a09d94;
}

.btn-main:hover{
  background-color: #e8dec5;
  color: black;
  border-radius: 0.8rem;
}

#signInLink,#signUpLink:hover{
  cursor: pointer;
}
.main-sections:hover{
  scale: 0.9;
}

.carousel-out{
  background-color: #d7cfc0 !important;
}

.carousel-main{
  margin-left: -30% !important;
}

#sign-in{
  transition: all 0.5s;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#sign-up{
  transition: all 0.5s;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
h1,h2,h3,h4{
font-family: 'Philosopher';
/* color: #fff; */
}
.main-div{
  z-index: 1;
  backface-visibility: hidden;
  /* height: 600px; */
  /* transform: translateX(-50%); */
}
.icon{
  position: relative;
  bottom: 20px;
}
.header{
  /* background-color: #7d08e8; */
    background: transparent;
}

.card-items{
  transition: all 0.5s;
  background-color: #eee2a1;
}

.card-items:hover{
  cursor: pointer;
  transform: scale(0.9);
  /* background-color: #635e5e;
  color: #fff; */
}

select{
  width: 70px !important;
}

input{
  /* width: 50% !important; */
}

.main-sections{
  height: 300px;
  transition: all 0.5s;
  padding: 0px !important;
}

.main-section1{
  background-image: url('https://img.freepik.com/free-photo/two-beautiful-women-shopping-town_1303-16426.jpg?w=2000') !important;
  /* background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
  filter: blur(1px);
  -webkit-filter: blur(1px); */
  filter: blur(3px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 300px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section2{
    background-image: url('./assets/images/men.jpg');
  /* background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px); */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 300px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}   
.main-section3{
  background-image: url('./assets/images/jewellery.jpg');
  /* background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
  filter: blur(1px);
  -webkit-filter: blur(1px); */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 300px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section4{
  background-image: url('./assets/images/electronics.jpg');
    /* background-size: contain;
    background-position: cover;
    background-repeat: no-repeat;
    filter: blur(1px);
  -webkit-filter: blur(1px); */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 300px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-sec-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white !important;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  bottom: 146px;
  left: 20%;
  /* transform: translateX(-50%); */
  /* bottom: 170px;
  left: 30px; */
  /* transform: translate(-50%,-50%); */
  z-index: 2;
  padding: 20px;
  text-align: center;
}


.cart-outer{
  background-color: #e8dec5;
}

.footer{
  background-color: #ffecb3;
}

@media screen and (max-width:800px) {
  body{
    background-image: none;
  }
}

@media screen and (max-width:768px) {
  .header-main{
    width:"100%" !important;
  }
}