body{
  background-color: #a8b7ce;
}

#signInLink,#signUpLink:hover{
  cursor: pointer;
}
.main-sections:hover{
  scale: 0.9;
}
.outer-main {
  /* background-image: url('https://img.freepik.com/free-photo/stylish-young-woman-posing-with-shopping-bags-after-great-shopping_176420-9041.jpg?w=996&t=st=1669987399~exp=1669987999~hmac=ca4449d1acbde2caf6391aefaf9288672a07f924d01079b0c189776dc5b0c27f');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; */
}
#sign-in{
  transition: all 0.5s;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#sign-up{
  transition: all 0.5s;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
h1,h2,h3,h4{
font-family: 'Philosopher';
/* color: #fff; */
}
.main-div{
  z-index: 1;
  backface-visibility: hidden;
  /* height: 600px; */
  /* transform: translateX(-50%); */
}
.icon{
  position: relative;
  bottom: 20px;
}
.header{
  background-color: #7d08e8;

}

.card-items{
  transition: all 0.5s;
}

.card-items:hover{
  cursor: pointer;
}

select{
  width: 70px !important;
}

input{
  /* width: 50% !important; */
}

.main-sections{
  height: 300px;
  transition: all 0.5s;
  padding: 0px !important;
}

.main-section1{
  background-image: url('https://img.freepik.com/free-photo/two-beautiful-women-shopping-town_1303-16426.jpg?w=2000') !important;
  /* background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
  filter: blur(1px);
  -webkit-filter: blur(1px); */
  filter: blur(3px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 300px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section2{
    background-image: url('./assets/images/men.jpg');
  /* background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px); */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 300px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}   
.main-section3{
  background-image: url('./assets/images/jewellery.jpg');
  /* background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
  filter: blur(1px);
  -webkit-filter: blur(1px); */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 300px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section4{
  background-image: url('./assets/images/electronics.jpg');
    /* background-size: contain;
    background-position: cover;
    background-repeat: no-repeat;
    filter: blur(1px);
  -webkit-filter: blur(1px); */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 300px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-sec-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white !important;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  bottom: 170px;
  left: 30px;
  /* transform: translate(-50%,-50%); */
  z-index: 2;
  padding: 20px;
  text-align: center;
}